body{
    background-color:#333;
}
.btn-light{
    background-color: #333 !important;
    color:#ffcc33 !important;
}
.text-primary{
    color: #ffcc33 !important;
}
.border-primary{
    background-color: #ffcc33 !important;
    color: #ffcc33 !important;
    border-color: #ffcc33 !important;
}