.btn-group button{
    font-size:0.75em;
}
.custom-container{
    padding-left:4rem;
    padding-right:4rem;
}
.calendar-divider{
    opacity: 1;
}

.table-custom tbody th, .table-custom tbody td{
    background-color: rgba(0,0,0,0.5);
}
.table-custom tbody{
    background-image: url("../images/timetable.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
th, td{
    border: 4px solid #FFF;
}
td{
    height:120px;
}
.table-default th, .table-default td{
    background-color: #660099;
}
.table-default th{
    color:#ffcc33;
}
.table-custom tbody th{
    color: #FFF;
}
.table-header th{
    background-color: #660099;
}
.table-header th{
    color: #ffcc33;
    vertical-align: middle;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #d4acfb;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 0.3rem;
    bottom: 0.3rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #b84fce;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #b84fce;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6rem);
    width: 2rem;
    height: 2rem;
    bottom: 0;
  }
  .btn-group button{
    color: #660099
  }
  .class-block{
    background-color: #ffcc33;
    border-radius:12px;
    padding:0.8rem;
  }
  .class-block.upcoming{
    border-left:0.5rem solid #129cf3;
  }
  .class-block.missed{
    border-left:0.5rem solid #dc3545;
  }
  .class-block.attended{
    border-left:0.5rem solid #2dca22;
  }
  .class-head,.class-body{
    color:#660099;
  }
  .class-head{
    display:flex;
    justify-content: left;
    padding-right:0.5rem;
  }
  .class-time-text{
    margin:0;
    padding-left:0.5rem;
  }
  .class-time{
    display:flex;
    align-items:center;
  }
  .table-title{
    width:20%;
  }
  #timetable-month th{
    width:20%;
  }
  #timetable-week th{
    width:16.6%;
  }
  .calendar-date{
    color: #ffcc33;
  }
@media(max-width:1200px){
  .table-title{
    width:25%;
  }
}
@media(max-width:992px){
    .custom-container{
        padding-left:3rem;
        padding-right:3rem;
    }
    .table-title{
      width:33%;
    }
}
@media(max-width:576px){
    .custom-container{
        padding-left:2.5rem;
        padding-right:2.5rem;
    }
}