body,.bg-white{
    background-color: #333 !important;
}
h2{
    color:#ffcc33 !important;
}
.card{
    border-color:#660099 !important;
}
.selectedUser{
    border-color: #660099;
    box-shadow: 0 0 20px 8px #660099;
  }