.signup-divider{
    opacity:1;
  }
  .sign-up-box{
    border-radius: 75px;
    align-items: center;
    background-color: rgba(102, 0, 153, 0.8);
  }

  .overlay{
    height:850px;
    background-image: url("../images/login.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .submit{
    font-size:1.25em;
    color: #ffcc33;
  }
  .misc-buttons{
    font-size:0.95em;
    color:#ffcc33;
  }
  .logup{
    text-decoration: none;
  }
  .misc-buttons:hover, .submit:hover{
    background-color:#ffcc33;
    color: #660099;
    transition: all 0.5s;
  }
  .form-label{
    font-size:1em;
  }
  .form-control{
    border-radius:100px;
    font-size: 0.85em;
  }
  .email-small{
    font-size:0.85em;
  }

  .accordion-header button{
    font-size:0.6em;
    color: #660099
  }
  .accordion-bullets{
    padding-left: 0;
  }
  .accordion-button:not(.collapsed){
    background-color: #660099;
    color:#ffcc33;
    border-color:#ffcc33;
  }

  small {
    color: red;
    font-size: 0.7em;
  }

  .error {
    border-color:red;
    border-width: 5px;
  }

  .success {
    border-color:green;
  }